<a href="https://colab.research.google.com/github/basharbayatna/Explore-US-Bikeshare-Data/blob/main/Explore_US_Bikeshare_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import time
import calendar as cal

In [2]:
df_ch = pd.read_csv('/content/chicago.csv')

In [3]:
df_ch.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [4]:
df_ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  object
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  int64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      300000 non-null  object
 7   Gender         238948 non-null  object
 8   Birth Year     238981 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB

In [5]:
df_ch.duplicated(keep=False).sum()

np.int64(0)

In [6]:
df_ch.isna().sum()

Unnamed: 0           0
Start Time           0
End Time             0
Trip Duration        0
Start Station        0
End Station          0
User Type            0
Gender           61052
Birth Year       61019
dtype: int64

In [7]:
df_ny = pd.read_csv('/content/new_york_city.csv')

In [8]:
df_ny.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,5688089,2017-06-11 14:55:05,2017-06-11 15:08:21,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0
1,4096714,2017-05-11 15:30:11,2017-05-11 15:41:43,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0
2,2173887,2017-03-29 13:26:26,2017-03-29 13:48:31,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0
3,3945638,2017-05-08 19:47:18,2017-05-08 19:59:01,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0
4,6208972,2017-06-21 07:49:16,2017-06-21 07:54:46,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0

In [9]:
df_ny.duplicated().sum()

np.int64(0)

In [10]:
df_ny.isna().sum()

Unnamed: 0           0
Start Time           0
End Time             0
Trip Duration        0
Start Station        0
End Station          0
User Type          692
Gender           29209
Birth Year       28220
dtype: int64

In [11]:
df_wa = pd.read_csv('/content/washington.csv')

In [12]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [ ]:
def get_filters():
    print("Welcome! Let's start exploring some US bikeshare data!\n")

    # Menu options
    cities = ['chicago', 'new york city', 'washington']
    months = ['january', 'february', 'march', 'april', 'may', 'june', 'all']
    days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday', 'all']

    # Helper function to get valid input
    def select_option(options, prompt):
        while True:
            for i, option in enumerate(options, 1):
                print(f"{i}. {option.title()}")
            choice = input(prompt).strip()
            if choice.isdigit():
                index = int(choice) - 1
                if 0 <= index < len(options):
                    return options[index]
            print(f"Invalid input. Please enter a number between 1 and {len(options)}.\n")

    print("Choose a city:")
    city = select_option(cities, "Enter number: ")

    print("\nChoose a month:")
    month = select_option(months, "Enter number: ")

    print("\nChoose a day:")
    day = select_option(days, "Enter number: ")

    print('-'*40)
    return city, month, day




def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    df = pd.read_csv(CITY_DATA[city])


    df['Start Time'] = pd.to_datetime(df['Start Time'])

    df['Month'] = df['Start Time'].dt.month
    df['Weekday'] = df['Start Time'].dt.weekday

    if month != 'all':
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1
        df = df[df['Month'] == month]

    if day != 'all':
        days = ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
        day = days.index(day)
        df = df[df['Weekday'] == day]

    return df


def time_stats(df, city, month, day):

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()


    list(cal.month_name)

    ind_month = df['Month'].value_counts().idxmax()

    if month != 'all':
        print('You have selected ',month.title(),', so, unsurprisingly, the most common '+
              'month in',city.title(),'is', cal.month_name[ind_month], ';) \n\n')

    else:
        print('The most common month in ',city.title(),' is',
              cal.month_name[ind_month], '.\n\n')



    list(cal.day_name)

    ind_day = df['Weekday'].value_counts().idxmax()

    if day != 'all':
        print('You have selected',day.title(),'so, unsurprisingly, the most common '+
              'day of the week in',city.title(),'is', cal.day_name[ind_day], ';) \n\n')
    else:
        print('The most common day of the week is', cal.day_name[ind_day], '\n\n')



    df['Start Hour'] = df['Start Time'].dt.hour

    print('The most common start hour for your selection is',
          df['Start Hour'].value_counts().idxmax(), 'o\'clock.\n')


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    print('The most common start station for your selection is',
          df['Start Station'].value_counts().idxmax(), '.\n\n')

    print('The most common end station for your selection is',
          df['End Station'].value_counts().idxmax(), '.\n\n')


    df['Station Combination'] = df['Start Station'] + ' (start) and ' + df['End Station'] + ' (end).'

    print('The most common station combination for your selection is ',
          df['Station Combination'].value_counts().idxmax(), '\n')


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()


    trip_sum_sec = df['Trip Duration'].sum()

    trip_sum_h = round(trip_sum_sec / 60 / 60 ,0)

    print('The total travel time for your selection is', trip_sum_h, 'hours.\n\n')


    trip_mean_sec = df['Trip Duration'].mean()

    trip_mean_min = round(trip_mean_sec / 60  ,0)


    if trip_mean_min < 60:
        print('The mean travel time for your selection is', trip_mean_min, 'minutes.\n\n')
    else:
        trip_mean_h = round(trip_mean_min / 60 ,1)
        print('The mean travel time for your selection is', trip_mean_h, 'hours.\n\n')


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def user_stats(df, city):
    """Displays statistics on bikeshare users. Statistics will be calculated using NumPy."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()


    usertypes = df['User Type'].values

    ct_subscriber  = (usertypes == 'Subscriber').sum()
    ct_customer = (usertypes == 'Customer').sum()

    print('The number of subscribers in', city.title(), 'is:',ct_subscriber,'\n')
    print('The number of customers in', city.title(), 'is:',ct_customer,'\n')


    if city.title() != 'Washington':

        gender = df['Gender'].values

        ct_male  = (gender == 'Male').sum()
        ct_female = (gender == 'Female').sum()

        print('The number of male users in', city.title(), 'is:',ct_male,'\n')
        print('The number of female users in', city.title(), 'is:',ct_female,'\n')


        birthyear = df['Birth Year'].values

        birthyear_unique = np.unique(birthyear[~np.isnan(birthyear)])

        latest_birthyear = birthyear_unique.max()

        earliest_birthyear = birthyear_unique.min()

        print('The most recent birth year of users in', city.title(), 'is:',
              latest_birthyear ,'\n')
        print('The earliest birth year of users in', city.title(), 'is:',
              earliest_birthyear,'\n')

        print('The most common birth year of users in', city.title(), 'is:',
              df['Birth Year'].value_counts().idxmax(), '\n')

    else:
        print('Sorry. Gender and birth year information are not available for Washington!')


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

import sys

def raw_data(df):
    """Displays 5 lines of raw data at a time based on menu choice."""
    i = 0
    while True:
        print("\nWould you like to see 5 lines of raw data?")
        print("1. Yes, show next 5 rows")
        print("2. No, stop showing raw data")
        print("3. End program")

        choice = input("Enter number: ")

        if choice == "1":
            print(df[i:i+5])
            i += 5
            if i >= len(df):
                print("\nNo more data to display.")
                break
        elif choice == "2":
            break
        elif choice == "3":
            print("Thank you for using our program!")
            sys.exit()
        else:
            print("Invalid choice. Please enter 1, 2, or 3.")


def main():
    while True:
        city, month, day = get_filters()
        df = load_data(city, month, day)

        time_stats(df, city, month, day)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df, city)

        raw_data(df)

        # Restart menu
        while True:
            print("\nWould you like to restart?")
            print("1. Yes")
            print("2. No")
            print("3. End program")
            restart_choice = input("Enter number: ")

            if restart_choice == "1":
                break  # go back to start of main loop
            elif restart_choice in ("2", "3"):
                print("Thank you for using our program!")
                sys.exit()
            else:
                print("Invalid choice. Please enter 1, 2, or 3.")

if __name__ == "__main__": main()

Welcome! Let's start exploring some US bikeshare data!

Choose a city:
1. Chicago
2. New York City
3. Washington